.vscode/settings.json
.vscode/
lbe_maker/lber
lbe_maker/test/lbe_test
lbe_maker/test/test.txt
lbe_maker/test/nohup.out
*/*.a
*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*/*/*/*/*/*.o
*/*/*/*/*/*/*.o
*/*/*/*/*/*/*/*.o
*.d
*/*.d
*/*/*.d
*/*/*/*.d
*/*/*/*/*.d
*/*/*/*/*/*.d
*/*/*/*/*/*/*.d
*/*/*/*/*/*/*/*.d
*.clbe
*/*.clbe
*/*/*.clbe
*/*/*/*.clbe
*/*/*/*/*.clbe
*/*/*/*/*/*.clbe
*/*/*/*/*/*/*.clbe
*/*/*/*/*/*/*/*.clbe
*/*/*/*/*/*/*/*/*.clbe
lbe_maker/dbug_log.txt
lbe_maker/error_log.txt
asm/asm
asm/libft/libft.a
asm/asm.dSYM/Contents/Info.plist
asm/asm.dSYM/Contents/Resources/DWARF/asm
.conf_v_code
*.cor
ressources/champs/*.cor
ressources/tests/testasm42
ressources/tests/testasm
ressources/tests/asmHugo
ressources/tests/asm
ressources/tests/testasmHugo
ressources/tests/leaks.txt
ressources/tests/asm.dSYM/Contents/Info.plist
ressources/tests/asm.dSYM/Contents/Resources/DWARF/asm
asm
corewar
corewar_srcs/mlx/libmlx.a
